body{
    background-color: #0D0C1D;
}
@font-face {
    font-family: 'Epilogue-Bold';
    src: url('/fonts/Epilogue/static/Epilogue-Bold.ttf');
}

*{
    color:white
}


#im{
    color:greenyellow
}

.logo{
    font-family: 'Courier New', Courier, monospace;
}
.navigation{
    font-family: 'Courier Prime', Courier, monospace;
}
.intro{
    font-size: 1.5em;
    text-align: center;
}
.mission{
    margin-left: 10%;
    margin-right:10%;
    font-size: 3em;
    text-align: center;
    font-family: 'Epilogue-Bold';
}
.header{
    font-family: 'Courier Prime', Courier, monospace;
}
.socials{
    font-family: 'Courier Prime', Courier, monospace;
}
.title{
    text-align: center;
    font-size: 3em;
}
.header * {
    font-size:1.6em;
    display: inline;
}
.navigation{
    float:right;
}

.headshot{
    margin:auto;
    width: 50%;
}
.experience-header{
    font-size: 2em;
}
.bullets ul{
    margin-left: 10%;
    margin-right:10%;
    font-size: 1.5em;
}
